
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');

a:visited{
  text-decoration: none;
}

.btnHome {
  height: 5%;
  width: 5%;
  left: 0;
  top: 0;
}



.climaImg {
  width: 25%;
  height: 25%;
  margin-top: -80px;
  max-height: 100px;
  max-width: 100px;
}

.Ul li {
    font-size:14px;
    position: relative;
    width: calc(100% / 4);
  list-style: none;
  display: inline-block;
  height: 0px;
  text-align: center;
  color: black;  
  font-family:Urbanist;
  max-height: 80%;
 max-width: 80%;
}


.title {
  font-size:50px;
  color: black;
  margin-bottom:-60px;  
  font-family:Urbanist;
}

.Icon{
  height:20px;
  width: 20px;
}

.temp {
  font-size:60px;
  font-family:Urbanist;
  align-items: center;
  margin-right: 10px;
}

.celcius {
  font-size:20px;
  font-family:Urbanist;
  top: -100px;
  left: 40px;
  position: relative;
}

.subTitle{
  font-size:30px;  
  font-family:Urbanist;
  margin-bottom:-50px;
}

.Values li{
  font-size:16px;
  position: relative;
  width: calc(100% / 4);
  list-style: none;
  display: inline-block;
  height: 0px;
  text-align: center;
  color: black;  
  font-family:Urbanist;
  font-weight: bold;
}



.App-header {
  background-color: #27292e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}